.content{
    background: rgba(23, 23, 23, 0.77);
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
  }
  .loader-circle {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 8px       rgba(73, 73, 73, 0.219);
    margin-left: -60px;
    margin-top: -60px;
  }
  .loader-content{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -100%);
    color: rgba(45, 139, 202, 0.877);
    font-family: Arial, sans-serif;
  }
  .loader-line-mask {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 120px;
    margin-left: -60px;
    margin-top: -60px;
    overflow: hidden;
    transform-origin: 60px 60px;
    -webkit-mask-image: -webkit-linear-gradient(top,#000000,rgba(0,0,0,0));
    animation: rotate 1.2s infinite linear;
  }
  .loader-line-mask .loader-line {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 4px rgba(33, 123, 207, 0.5);
  }
  @keyframes rotate { 0% { transform: rotate(0deg);} 100% { transform: rotate(360deg);}}