<header class="container mt-5 row justify-content-center align-items-center">
  <div class="col-10 col-md-8">
    <h2 style="text-align: center;color: #fff;">Algoritmo VNS para la solución de un sistema de nave nodriza en un problema de ruteo de vehículos con drones en la entrega y recogida de paquetes</h2>
  </div>
</header>
<main class="my-5">
  <article class="row justify-content-center align-items-center align-items-center" >
    <section class="col-12 col-md-12 order-2 order-md-1">
			<div class="">
				<app-drone></app-drone>
			</div>
    </section>
  </article>
</main>
<footer></footer>
